<h2 style="text-align:center">This is the start of your dashboard.</h2>

<h3 style="text-align:center">Here you can upload and view files</h3>


<h2 style='text-align:center'>
<%= link_to "start ", new_album_path, class: "btn btn-primary"  %>

</h2>
