<form>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name ,class:"form-control"%>
  </div>
  <div>
  <td style="padding: 20px" >
    <%= f.submit class:"btn btn-outline-success btn-pill px-3 "%></td>
    <br>
  </div>
</form>

