<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <%= yield %>
  </body>
</html>
<form>



#code for button
#   <div class="form-group">
#     <label for="exampleFormControlFile1">Example file input</label>
#     <input type="file" class="form-control-file" id="exampleFormControlFile1">
#   </div>
# </form>